@media (max-width: 1420px) {
  .main {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }

  .addTaskText {
    display: none;
  }

  .search {
    width: auto;
  }

  #boardContainer {
    max-width: 414px;
    padding: 0;
    width: 90%;
  }

  .HeadlineHeaderResp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }

  .Headline {
    color: #000;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .searchAndAddTask {
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  .boardHeader {
    width: 102%;
    height: 146px;
    padding-top: 127.5px;
  }

  .addTask {
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--version-2-main-color, #2a3647);
  }

  #boardColumnContainer {
    display: none;
  }

  #boardColumnTitleContainer {
    flex-direction: column;
    width: 100%;
    gap: 26px;
  }

  .boardColumnTitleOneColumn {
    flex-direction: column;
    width: 100%;
  }

  .TitleField {
    color: var(--version-2-main-color, #2a3647);
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .boardTaskColumn {
    overflow-x: auto;
    white-space: nowrap;
    flex-direction: row;
    flex: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .boardTaskColumn::-webkit-scrollbar {
    display: none;
  }

  .cardFrameTaskOverlay {
    height: 100%;
    width: 100%;
  }
}
