@media (max-width: 1420px) {

    .mainContainer {
        padding: 0px;
        align-items: center;
    }

    .headline {
        position: fixed;
        display: inline-flex;
        top: 75px;
        background: #F6F7F8;
        color: #000;
        font-family: Inter;
        font-size: 47px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        max-width: 460px;
        padding-left: 20px;
        width: 100vw;
        height: 112px;
        align-items: center;
    }

    #formContainer {
    flex-direction: column;
    padding-top: 215px;
    padding-bottom: 400px;
    padding-left: 16px;
    }

    #formLeft,
    #formRight {
        padding-left: 20px;
        margin-right: 20px;
    }

    .titleField,
    .descriptionField,
    .dateField,
    .subtaskField,
    .prioField {
        width: 95%;
    }
    .categoryField,
    .assignedField {
    display: flex;
    width: 95%;
    }

    .assignedField {
    flex-direction: column;
    }

.line {
    display: none;
    }

.footer {
    display: flex;
    width: 428px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background: #F6F7F8;
    position: fixed;
    bottom: 75px;
    height: 100px;
    top: auto;
    flex-direction: column-reverse;
}

#checkbox {
    height: 100px;
}

#subtaskList {
    padding: 0;
}

.bottomText,
.buttons {
    padding: 0;
}

.title {
    order: 1;
}

.description {
    order: 2;
}

.prio {
    order: 3;
    padding-bottom: 30px;
}

.date {
    order: 4;
}

.category {
    order: 5;
}

.assigned {
    order: 6;
    height: auto;
}

.subtask {
    order: 7;
}

}

@media (max-width: 500px){
    .prioField {
        flex-direction: column;
        height: 220px;
    }
}

@media (max-width: 500px) {
    .footer {
        padding-bottom: 20px;
        flex-direction: column-reverse;
    }
}