<nav>
    <div>
        <img class="logo" src="../Templates/img/Capa 2.svg">
    </div>
    <div class="menu">
        <div id="summaryMenu" onclick="toSummary()">
            <img class="menuImg" src="../Templates/img/Summary.svg">
            <span class="navText">Summary</span>
        </div>
        <div id="addTaskMenu" onclick="toAddTask()">
            <img class="menuImg" src="../Templates/img/addTask.svg">
            <span class="navText">Add Task</span>
        </div>
        <div id="boardMenu" onclick="toBoard()">
            <img class="menuImg" src="../Templates/img/Board.svg">
            <span class="navText">Board</span>
        </div>
        <div id="contactMenu" onclick="toContact()">
            <img class="menuImg" src="../Templates/img/Contact.svg">
            <span class="navText">Contact</span>
        </div>
    </div>
    
        <div class="bottom">
            <div class="privacy" onclick="toPrivacyPolicy()">
                <span class="navText">Privacy Policy</span>
            </div>
            <div class="legal" onclick="toLegalNotice()">
                <span class="navText">Legal notice</span>
            </div>
        </div>
    </div>
</nav>